/* COMMON */
body{
    font-family: Arial, sans-serif;
}

header{
    font-family: Helvetica, arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.ms_btn-small{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px 12px;
    margin: 0 1rem;
}

.ms_btn-large{
    color:#0d6efd;
    background-color: #d9dadc;
    border-radius: 20px;
    padding: 10px 12px;
}

.ms_mobile-padding{
    padding: 2rem 0;
}

.ms_center{
    text-align: center;
}

/***************************************************** 
Header
*******************************************************/

/* Header-Top */
.header-top{
    background-color: aquamarine;
    text-align: right;
    padding: 0.5rem;
}

.header-top img{
    width: 100px;
}

/* Header-Bottom */
.header-bottom{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.down{
    width: 10px;
}

.lens{
    width: 25px;
}

/* Display*/
.ms_menu{
    display: none;
}

.user_menu{
    display: none;
}

/**********************************************************
Main
*****************************************************************/

/* Section-Jumbotron */
.ms_jumbotron1{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    color: white;
}

.banner-logo{
    width: 300px;
    height: auto;
    position: absolute;
    top: 40%;
}

.ms_jumbotron-content{
    position: absolute;
    top: 50%;
}

.ms_jumbotron-content h2{
    padding: 1rem 0;
    font-size: 45px;
}

.ms_jumbotron-content p{
    padding-bottom: 1rem;

}

.ms_jumbotron-btn{
    background-color: #cd3d0f;
    margin: 0;

}

/* Section-PlayStation 5 */
.ms_card img{
    width: 100%;
}

.playstation-5 img{
    border-radius: 20px;
}

.product{
    display: none;
}

.ms_card-opacity{
    opacity: 0.5;
}

.ms_card-border{
    border-bottom: 2px solid purple;
}

.ms_card-border :last-child{
    padding-bottom: 2.5rem;
}

/* Section-Jumbotron2 */
.ms_jumbotron2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    color: white;
}

.banner-logo2{
    width: 300px;
    height: auto;
    position: absolute;
    top: 5%;
    
}

.ms_jumbotron-content2{
    position: absolute;
    top: 43%;
}

.ms_jumbotron-content2 h2{
    padding: 1rem 0;
    font-size: 30px;
}

.ms_jumbotron-content2 p{
    padding-bottom: 1rem;

}

.ms_jumbotron-btn{
    background-color: #cd3d0f;
    margin: 0;

}

/* Section-New-Releases */
.new-releases{
    background-color: black;
    color: white;
}

.new{
    padding-bottom: 1rem;
}

/* Section-PlayStation 4 */

.card{
    border: none;
}

.btn{
    border-radius: 20px;
}

/* Section-PlayStation-Plus */
.playstation-plus{
    background-color: #bebcbb;
}

#ps-plus-logo{
    width: 300px;
}

.ps-plus-card p{
    padding: 1rem 0;

}

.ps-plus-card{
    padding: 1rem 0
}

/* Section-PlayStation-Now */
.playstation-now{
    background-color: #161c3b;
    color: white;
}

#ps-now-logo{
    width: 300px;
}

.ps-now-card p{
    padding: 1rem 0;

}

.ps-now-card{
    padding: 1rem 0
}

.btn-now{
    color: black;
}

/* Section-Social */
.social h2{
    padding-bottom: 3rem;
}

/* Footer */
footer{
    background-color: #00439c;
    color: white;
}

#ps-footer{
    width: 100px;
}

#globe{
    width: 20px;
}

.country{
    padding: 2rem 0;
    
}

footer ul{
    padding-bottom: 1rem;
    padding-left: 2rem;
}

footer a{
    color: inherit;
}

#sie-logo{
    width: 150px;
}

.informativa span{
    text-decoration: underline;
}

/* MD */
@media screen and (min-width: 768px) {
    #ms_padding-top{
        padding-top: 4rem;
    }

    .product{
        display: inline-block;
    }

    
}
 

/* LG */
@media screen and (min-width: 992px) {
    /* Burger-Btn */
    .burger-btn{
        display: none;
    }

    /* Header-Bottom */
    .header-bottom{
        width: 100%; 
    }

    .ms_header-bottom-container{
        display: inline-block;
    }

    .logo-bottom{
        display: inline-block;
    }

    .ms_menu{
        display: inline-block;
        vertical-align: middle;
    }

    li > div{
        display: inline-block;
    }

    .ms_list-menu{
        display: flex;
    }

   .ms_menu ul li {
        padding: 0 1rem;
    }

    /* User-Menu */
    .user_menu{
        display: inline-block;
    }

    .user_menu > div{
        display: inline-block;
    
    }

    /* Section-Jumbotron1 */
    .ms_jumbotron-content p{
        width: 35%;
    }


    /* Section-Jumbotron2 */
    .ms_jumbotron-content2 p{
        width: 35%;
    }

    .ms_jumbotron-content2 h2{
        width: 35%;
    }

    /* Section-PLayStation-Plus */
    .ps-col{
        position: relative;
    }
    
    .ps-plus-card{
        position: absolute;
        top: 20%;
    }

     /* Section-PLayStation-Now */
     .ps-col{
        position: relative;
    }
    
    .ps-now-card{
        position: absolute;
        top: 20%;
    }
    

    }
